RewriteEngine On

# Remover a extensão .html dos URLs
RewriteCond %{THE_REQUEST} \.html
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# Adicionar a extensão .html internamente
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)$ $1.html [L]

# Definir a página inicial sem o nome do arquivo
DirectoryIndex index.html
