RewriteEngine On

# Remove a extensão .html dos URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]
# Redirecione requisições diretas para index.html
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^(.*)index\.html$ /$1 [R=301,L]

# Defina a página inicial sem o nome do arquivo
DirectoryIndex index